In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('.\Book Examples\pydata-book-2nd-edition/examples/stock_px.csv')

In [3]:
df1

,Unnamed: 0,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
0,1990-02-01 00:00:00,4.98,7.86,2.87,16.79,4.27,0.51,6.04,328.79,6.12
1,1990-02-02 00:00:00,5.04,8.00,2.87,16.89,4.37,0.51,6.09,330.92,6.24
2,1990-02-05 00:00:00,5.07,8.18,2.87,17.32,4.34,0.51,6.05,331.85,6.25
3,1990-02-06 00:00:00,5.01,8.12,2.88,17.56,4.32,0.51,6.15,329.66,6.23
4,1990-02-07 00:00:00,5.04,7.77,2.91,17.93,4.38,0.51,6.17,333.75,6.33
5,1990-02-08 00:00:00,5.04,7.71,2.92,17.86,4.46,0.51,6.22,332.96,6.35
6,1990-02-09 00:00:00,5.06,8.00,2.94,17.82,4.49,0.52,6.24,333.62,6.37
7,1990-02-12 00:00:00,4.96,7.94,2.89,17.58,4.46,0.52,6.23,330.08,6.22
8,1990-02-13 00:00:00,4.91,8.06,2.88,17.95,4.43,0.52,6.09,331.02,6.23
9,1990-02-14 00:00:00,4.94,8.00,2.89,18.04,4.47,0.52,6.10,332.01,6.20
10,1990-02-15 00:00:00,4.99,8.00,2.91,18.04,4.54,0.53,6.15,334.89,6.40
11,1990-02-16 00:00:00,5.10,7.91,2.88,17.99,4.47,0.53,6.11,332.72,6.33
12,1990-02-20 00:00:00,5.04,7.85,2.83,17.88,4.39,0.55,6.01,327.99,6.25
13,1990-02-21 00:00:00,5.01,7.97,2.81,18.23,4.33,0.52,5.91,327.67,6.28
14,1990-02-22 00:00:00,5.06,7.73,2.82,17.95,4.28,0.53,5.87,325.70,6.22
15,1990-02-23 00:00:00,5.07,7.79,2.81,17.84,4.20,0.53,5.88,324.15,6.22
16,1990-02-26 00:00:00,5.13,7.97,2.84,18.08,4.30,0.54,5.93,328.67,6.37
17,1990-02-27 00:00:00,5.16,7.85,2.88,18.04,4.30,0.53,6.00,330.26,6.38
18,1990-02-28 00:00:00,5.22,7.97,2.89,18.06,4.32,0.54,6.06,331.89,6.20
19,1990-03-01 00:00:00,5.26,8.03,2.88,18.08,4.35,0.55,5.98,332.74,6.13
20,1990-03-02 00:00:00,5.41,7.91,2.92,18.23,4.43,0.57,5.89,335.54,6.17
21,1990-03-05 00:00:00,5.39,8.08,2.89,18.25,4.36,0.57,5.89,333.74,6.10
22,1990-03-06 00:00:00,5.40,8.26,2.92,18.39,4.45,0.57,5.97,337.93,6.22
23,1990-03-07 00:00:00,5.36,8.29,2.93,18.34,4.45,0.56,6.06,336.95,6.13
24,1990-03-08 00:00:00,5.34,8.61,2.95,18.60,4.50,0.58,6.18,340.27,6.17
25,1990-03-09 00:00:00,5.33,8.64,2.93,18.52,4.48,0.58,6.10,337.93,6.12
26,1990-03-12 00:00:00,5.34,8.58,2.92,18.73,4.46,0.59,6.22,338.67,6.13
27,1990-03-13 00:00:00,5.29,8.64,2.90,18.47,4.38,0.58,6.18,336.00,6.02
28,1990-03-14 00:00:00,5.28,8.67,2.95,18.47,4.44,0.59,6.15,336.87,6.13
29,1990-03-15 00:00:00,5.36,8.61,2.96,18.60,4.58,0.61,6.18,338.07,6.18
...,...,...,...,...,...,...,...,...,...,...
5442,2011-09-02 00:00:00,12.04,374.05,15.61,166.98,64.07,25.80,63.30,1173.97,72.14
5443,2011-09-06 00:00:00,11.77,379.74,15.11,165.11,64.64,25.51,62.45,1165.24,71.15
5444,2011-09-07 00:00:00,12.25,383.93,15.65,167.31,65.43,26.00,61.62,1198.62,73.65
5445,2011-09-08 00:00:00,12.03,384.14,15.44,165.25,64.95,26.22,61.34,1185.90,72.82
5446,2011-09-09 00:00:00,11.58,377.48,14.95,161.37,63.64,25.74,59.99,1154.23,71.01
5447,2011-09-12 00:00:00,11.55,379.94,14.87,162.42,63.59,25.89,60.14,1162.27,71.84
5448,2011-09-13 00:00:00,11.63,384.62,15.26,163.43,63.61,26.04,60.54,1172.87,71.65
5449,2011-09-14 00:00:00,11.73,389.30,15.64,167.24,63.73,26.50,61.58,1188.68,72.64
5450,2011-09-15 00:00:00,11.98,392.96,16.08,170.09,64.40,26.99,63.22,1209.11,74.01
5451,2011-09-16 00:00:00,11.97,400.50,16.33,172.99,64.59,27.12,62.05,1216.01,74.55
5452,2011-09-19 00:00:00,11.58,411.63,16.18,173.13,64.14,27.21,60.56,1204.09,73.70
5453,2011-09-20 00:00:00,11.25,413.45,16.04,174.72,64.22,26.98,60.39,1202.09,74.01
5454,2011-09-21 00:00:00,10.84,412.14,15.38,173.02,63.13,25.99,60.79,1166.76,71.97
5455,2011-09-22 00:00:00,10.11,401.82,15.04,168.62,61.92,25.06,60.92,1129.56,69.24
5456,2011-09-23 00:00:00,10.07,404.30,15.21,169.34,61.59,25.06,60.34,1136.43,69.31
5457,2011-09-26 00:00:00,10.45,403.17,15.57,174.51,62.69,25.44,61.89,1162.95,71.72
5458,2011-09-27 00:00:00,10.48,399.26,15.76,177.71,63.82,25.67,62.43,1175.38,72.91
5459,2011-09-28 00:00:00,9.97,397.01,15.45,177.55,63.25,25.58,61.97,1151.06,72.07
5460,2011-09-29 00:00:00,10.06,390.57,15.86,179.17,63.90,25.45,62.58,1160.40,73.88
5461,2011-09-30 00:00:00,9.57,381.32,15.22,174.87,63.69,24.89,61.90,1131.42,72.63
5462,2011-10-03 00:00:00,8.90,374.60,14.69,173.29,62.08,24.53,60.29,1099.23,71.15
5463,2011-10-04 00:00:00,9.12,372.50,14.86,174.74,62.17,25.34,60.45,1123.95,72.83
5464,2011-10-05 00:00:00,9.37,378.25,15.27,176.85,62.35,25.89,60.29,1144.03,73.95
5465,2011-10-06 00:00:00,9.88,377.37,15.53,181.69,62.81,26.34,60.57,1164.97,73.89
5466,2011-10-07 00:00:00,9.71,369.80,15.50,182.39,63.13,26.25,61.02,1155.46,73.56
5467,2011-10-10 00:00:00,10.09,388.81,16.14,186.62,64.43,26.94,61.87,1194.89,76.28
5468,2011-10-11 00:00:00,10.30,400.29,16.14,185.00,63.96,27.00,60.95,1195.54,76.27
5469,2011-10-12 00:00:00,10.05,402.19,16.40,186.12,64.33,26.96,62.70,1207.25,77.16
5470,2011-10-13 00:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37
5471,2011-10-14 00:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11

In [45]:
df1.corr()

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
AA,1.000000,0.101313,0.916804,0.600211,0.685752,0.776796,0.634679,0.846861,0.567025
AAPL,0.101313,1.000000,0.142381,0.749037,0.651564,0.423274,0.741942,0.410813,0.781369
GE,0.916804,0.142381,1.000000,0.681659,0.717824,0.875398,0.652904,0.935598,0.581171
IBM,0.600211,0.749037,0.681659,1.000000,0.902894,0.871615,0.885029,0.835484,0.855195
JNJ,0.685752,0.651564,0.717824,0.902894,1.000000,0.846906,0.970478,0.845401,0.925600
MSFT,0.776796,0.423274,0.875398,0.871615,0.846906,1.000000,0.781791,0.949715,0.730557
PEP,0.634679,0.741942,0.652904,0.885029,0.970478,0.781791,1.000000,0.816477,0.964278
SPX,0.846861,0.410813,0.935598,0.835484,0.845401,0.949715,0.816477,1.000000,0.761077
XOM,0.567025,0.781369,0.581171,0.855195,0.925600,0.730557,0.964278,0.761077,1.000000

In [4]:
df1.describe()

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
count,5472.000000,5472.000000,5472.000000,5472.000000,5472.000000,5472.000000,5471.000000,5472.000000,5472.000000
mean,17.440285,57.119313,17.933194,66.637730,34.225340,17.046345,34.284204,945.035216,35.225919
std,9.647999,88.670423,10.647635,41.689481,19.726666,11.000988,18.383894,369.494672,23.967647
min,4.200000,3.230000,2.400000,8.400000,4.200000,0.510000,5.870000,295.460000,5.940000
25%,8.077500,8.760000,6.280000,20.577500,12.160000,4.240000,15.480000,547.217500,11.910000
50%,14.885000,11.990000,18.150000,74.115000,37.570000,20.910000,33.750000,1058.305000,30.280000
75%,26.340000,68.017500,27.300000,95.657500,52.675000,25.310000,49.530000,1253.395000,55.300000
max,43.620000,422.000000,42.780000,190.530000,67.320000,46.810000,71.250000,1565.150000,87.480000

In [46]:
df1['ABC'] = 223

In [47]:
df1

,Unnamed: 0,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM,ABC
0,1990-02-01 00:00:00,4.98,7.86,2.87,16.79,4.27,0.51,6.04,328.79,6.12,223
1,1990-02-02 00:00:00,5.04,8.00,2.87,16.89,4.37,0.51,6.09,330.92,6.24,223
2,1990-02-05 00:00:00,5.07,8.18,2.87,17.32,4.34,0.51,6.05,331.85,6.25,223
3,1990-02-06 00:00:00,5.01,8.12,2.88,17.56,4.32,0.51,6.15,329.66,6.23,223
4,1990-02-07 00:00:00,5.04,7.77,2.91,17.93,4.38,0.51,6.17,333.75,6.33,223
5,1990-02-08 00:00:00,5.04,7.71,2.92,17.86,4.46,0.51,6.22,332.96,6.35,223
6,1990-02-09 00:00:00,5.06,8.00,2.94,17.82,4.49,0.52,6.24,333.62,6.37,223
7,1990-02-12 00:00:00,4.96,7.94,2.89,17.58,4.46,0.52,6.23,330.08,6.22,223
8,1990-02-13 00:00:00,4.91,8.06,2.88,17.95,4.43,0.52,6.09,331.02,6.23,223
9,1990-02-14 00:00:00,4.94,8.00,2.89,18.04,4.47,0.52,6.10,332.01,6.20,223
10,1990-02-15 00:00:00,4.99,8.00,2.91,18.04,4.54,0.53,6.15,334.89,6.40,223
11,1990-02-16 00:00:00,5.10,7.91,2.88,17.99,4.47,0.53,6.11,332.72,6.33,223
12,1990-02-20 00:00:00,5.04,7.85,2.83,17.88,4.39,0.55,6.01,327.99,6.25,223
13,1990-02-21 00:00:00,5.01,7.97,2.81,18.23,4.33,0.52,5.91,327.67,6.28,223
14,1990-02-22 00:00:00,5.06,7.73,2.82,17.95,4.28,0.53,5.87,325.70,6.22,223
15,1990-02-23 00:00:00,5.07,7.79,2.81,17.84,4.20,0.53,5.88,324.15,6.22,223
16,1990-02-26 00:00:00,5.13,7.97,2.84,18.08,4.30,0.54,5.93,328.67,6.37,223
17,1990-02-27 00:00:00,5.16,7.85,2.88,18.04,4.30,0.53,6.00,330.26,6.38,223
18,1990-02-28 00:00:00,5.22,7.97,2.89,18.06,4.32,0.54,6.06,331.89,6.20,223
19,1990-03-01 00:00:00,5.26,8.03,2.88,18.08,4.35,0.55,5.98,332.74,6.13,223
20,1990-03-02 00:00:00,5.41,7.91,2.92,18.23,4.43,0.57,5.89,335.54,6.17,223
21,1990-03-05 00:00:00,5.39,8.08,2.89,18.25,4.36,0.57,5.89,333.74,6.10,223
22,1990-03-06 00:00:00,5.40,8.26,2.92,18.39,4.45,0.57,5.97,337.93,6.22,223
23,1990-03-07 00:00:00,5.36,8.29,2.93,18.34,4.45,0.56,6.06,336.95,6.13,223
24,1990-03-08 00:00:00,5.34,8.61,2.95,18.60,4.50,0.58,6.18,340.27,6.17,223
25,1990-03-09 00:00:00,5.33,8.64,2.93,18.52,4.48,0.58,6.10,337.93,6.12,223
26,1990-03-12 00:00:00,5.34,8.58,2.92,18.73,4.46,0.59,6.22,338.67,6.13,223
27,1990-03-13 00:00:00,5.29,8.64,2.90,18.47,4.38,0.58,6.18,336.00,6.02,223
28,1990-03-14 00:00:00,5.28,8.67,2.95,18.47,4.44,0.59,6.15,336.87,6.13,223
29,1990-03-15 00:00:00,5.36,8.61,2.96,18.60,4.58,0.61,6.18,338.07,6.18,223
...,...,...,...,...,...,...,...,...,...,...,...
5442,2011-09-02 00:00:00,12.04,374.05,15.61,166.98,64.07,25.80,63.30,1173.97,72.14,223
5443,2011-09-06 00:00:00,11.77,379.74,15.11,165.11,64.64,25.51,62.45,1165.24,71.15,223
5444,2011-09-07 00:00:00,12.25,383.93,15.65,167.31,65.43,26.00,61.62,1198.62,73.65,223
5445,2011-09-08 00:00:00,12.03,384.14,15.44,165.25,64.95,26.22,61.34,1185.90,72.82,223
5446,2011-09-09 00:00:00,11.58,377.48,14.95,161.37,63.64,25.74,59.99,1154.23,71.01,223
5447,2011-09-12 00:00:00,11.55,379.94,14.87,162.42,63.59,25.89,60.14,1162.27,71.84,223
5448,2011-09-13 00:00:00,11.63,384.62,15.26,163.43,63.61,26.04,60.54,1172.87,71.65,223
5449,2011-09-14 00:00:00,11.73,389.30,15.64,167.24,63.73,26.50,61.58,1188.68,72.64,223
5450,2011-09-15 00:00:00,11.98,392.96,16.08,170.09,64.40,26.99,63.22,1209.11,74.01,223
5451,2011-09-16 00:00:00,11.97,400.50,16.33,172.99,64.59,27.12,62.05,1216.01,74.55,223
5452,2011-09-19 00:00:00,11.58,411.63,16.18,173.13,64.14,27.21,60.56,1204.09,73.70,223
5453,2011-09-20 00:00:00,11.25,413.45,16.04,174.72,64.22,26.98,60.39,1202.09,74.01,223
5454,2011-09-21 00:00:00,10.84,412.14,15.38,173.02,63.13,25.99,60.79,1166.76,71.97,223
5455,2011-09-22 00:00:00,10.11,401.82,15.04,168.62,61.92,25.06,60.92,1129.56,69.24,223
5456,2011-09-23 00:00:00,10.07,404.30,15.21,169.34,61.59,25.06,60.34,1136.43,69.31,223
5457,2011-09-26 00:00:00,10.45,403.17,15.57,174.51,62.69,25.44,61.89,1162.95,71.72,223
5458,2011-09-27 00:00:00,10.48,399.26,15.76,177.71,63.82,25.67,62.43,1175.38,72.91,223
5459,2011-09-28 00:00:00,9.97,397.01,15.45,177.55,63.25,25.58,61.97,1151.06,72.07,223
5460,2011-09-29 00:00:00,10.06,390.57,15.86,179.17,63.90,25.45,62.58,1160.40,73.88,223
5461,2011-09-30 00:00:00,9.57,381.32,15.22,174.87,63.69,24.89,61.90,1131.42,72.63,223
5462,2011-10-03 00:00:00,8.90,374.60,14.69,173.29,62.08,24.53,60.29,1099.23,71.15,223
5463,2011-10-04 00:00:00,9.12,372.50,14.86,174.74,62.17,25.34,60.45,1123.95,72.83,223
5464,2011-10-05 00:00:00,9.37,378.25,15.27,176.85,62.35,25.89,60.29,1144.03,73.95,223
5465,2011-10-06 00:00:00,9.88,377.37,15.53,181.69,62.81,26.34,60.57,1164.97,73.89,223
5466,2011-10-07 00:00:00,9.71,369.80,15.50,182.39,63.13,26.25,61.02,1155.46,73.56,223
5467,2011-10-10 00:00:00,10.09,388.81,16.14,186.62,64.43,26.94,61.87,1194.89,76.28,223
5468,2011-10-11 00:00:00,10.30,400.29,16.14,185.00,63.96,27.00,60.95,1195.54,76.27,223
5469,2011-10-12 00:00:00,10.05,402.19,16.40,186.12,64.33,26.96,62.70,1207.25,77.16,223
5470,2011-10-13 00:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37,223
5471,2011-10-14 00:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11,223

In [48]:
df1.corr()

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM,ABC
AA,1.000000,0.101313,0.916804,0.600211,0.685752,0.776796,0.634679,0.846861,0.567025,NaN
AAPL,0.101313,1.000000,0.142381,0.749037,0.651564,0.423274,0.741942,0.410813,0.781369,NaN
GE,0.916804,0.142381,1.000000,0.681659,0.717824,0.875398,0.652904,0.935598,0.581171,NaN
IBM,0.600211,0.749037,0.681659,1.000000,0.902894,0.871615,0.885029,0.835484,0.855195,NaN
JNJ,0.685752,0.651564,0.717824,0.902894,1.000000,0.846906,0.970478,0.845401,0.925600,NaN
MSFT,0.776796,0.423274,0.875398,0.871615,0.846906,1.000000,0.781791,0.949715,0.730557,NaN
PEP,0.634679,0.741942,0.652904,0.885029,0.970478,0.781791,1.000000,0.816477,0.964278,NaN
SPX,0.846861,0.410813,0.935598,0.835484,0.845401,0.949715,0.816477,1.000000,0.761077,NaN
XOM,0.567025,0.781369,0.581171,0.855195,0.925600,0.730557,0.964278,0.761077,1.000000,NaN
ABC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df1.insert(10, 'BBC', 123)

In [50]:
df1

,Unnamed: 0,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM,BBC,ABC
0,1990-02-01 00:00:00,4.98,7.86,2.87,16.79,4.27,0.51,6.04,328.79,6.12,123,223
1,1990-02-02 00:00:00,5.04,8.00,2.87,16.89,4.37,0.51,6.09,330.92,6.24,123,223
2,1990-02-05 00:00:00,5.07,8.18,2.87,17.32,4.34,0.51,6.05,331.85,6.25,123,223
3,1990-02-06 00:00:00,5.01,8.12,2.88,17.56,4.32,0.51,6.15,329.66,6.23,123,223
4,1990-02-07 00:00:00,5.04,7.77,2.91,17.93,4.38,0.51,6.17,333.75,6.33,123,223
5,1990-02-08 00:00:00,5.04,7.71,2.92,17.86,4.46,0.51,6.22,332.96,6.35,123,223
6,1990-02-09 00:00:00,5.06,8.00,2.94,17.82,4.49,0.52,6.24,333.62,6.37,123,223
7,1990-02-12 00:00:00,4.96,7.94,2.89,17.58,4.46,0.52,6.23,330.08,6.22,123,223
8,1990-02-13 00:00:00,4.91,8.06,2.88,17.95,4.43,0.52,6.09,331.02,6.23,123,223
9,1990-02-14 00:00:00,4.94,8.00,2.89,18.04,4.47,0.52,6.10,332.01,6.20,123,223
10,1990-02-15 00:00:00,4.99,8.00,2.91,18.04,4.54,0.53,6.15,334.89,6.40,123,223
11,1990-02-16 00:00:00,5.10,7.91,2.88,17.99,4.47,0.53,6.11,332.72,6.33,123,223
12,1990-02-20 00:00:00,5.04,7.85,2.83,17.88,4.39,0.55,6.01,327.99,6.25,123,223
13,1990-02-21 00:00:00,5.01,7.97,2.81,18.23,4.33,0.52,5.91,327.67,6.28,123,223
14,1990-02-22 00:00:00,5.06,7.73,2.82,17.95,4.28,0.53,5.87,325.70,6.22,123,223
15,1990-02-23 00:00:00,5.07,7.79,2.81,17.84,4.20,0.53,5.88,324.15,6.22,123,223
16,1990-02-26 00:00:00,5.13,7.97,2.84,18.08,4.30,0.54,5.93,328.67,6.37,123,223
17,1990-02-27 00:00:00,5.16,7.85,2.88,18.04,4.30,0.53,6.00,330.26,6.38,123,223
18,1990-02-28 00:00:00,5.22,7.97,2.89,18.06,4.32,0.54,6.06,331.89,6.20,123,223
19,1990-03-01 00:00:00,5.26,8.03,2.88,18.08,4.35,0.55,5.98,332.74,6.13,123,223
20,1990-03-02 00:00:00,5.41,7.91,2.92,18.23,4.43,0.57,5.89,335.54,6.17,123,223
21,1990-03-05 00:00:00,5.39,8.08,2.89,18.25,4.36,0.57,5.89,333.74,6.10,123,223
22,1990-03-06 00:00:00,5.40,8.26,2.92,18.39,4.45,0.57,5.97,337.93,6.22,123,223
23,1990-03-07 00:00:00,5.36,8.29,2.93,18.34,4.45,0.56,6.06,336.95,6.13,123,223
24,1990-03-08 00:00:00,5.34,8.61,2.95,18.60,4.50,0.58,6.18,340.27,6.17,123,223
25,1990-03-09 00:00:00,5.33,8.64,2.93,18.52,4.48,0.58,6.10,337.93,6.12,123,223
26,1990-03-12 00:00:00,5.34,8.58,2.92,18.73,4.46,0.59,6.22,338.67,6.13,123,223
27,1990-03-13 00:00:00,5.29,8.64,2.90,18.47,4.38,0.58,6.18,336.00,6.02,123,223
28,1990-03-14 00:00:00,5.28,8.67,2.95,18.47,4.44,0.59,6.15,336.87,6.13,123,223
29,1990-03-15 00:00:00,5.36,8.61,2.96,18.60,4.58,0.61,6.18,338.07,6.18,123,223
...,...,...,...,...,...,...,...,...,...,...,...,...
5442,2011-09-02 00:00:00,12.04,374.05,15.61,166.98,64.07,25.80,63.30,1173.97,72.14,123,223
5443,2011-09-06 00:00:00,11.77,379.74,15.11,165.11,64.64,25.51,62.45,1165.24,71.15,123,223
5444,2011-09-07 00:00:00,12.25,383.93,15.65,167.31,65.43,26.00,61.62,1198.62,73.65,123,223
5445,2011-09-08 00:00:00,12.03,384.14,15.44,165.25,64.95,26.22,61.34,1185.90,72.82,123,223
5446,2011-09-09 00:00:00,11.58,377.48,14.95,161.37,63.64,25.74,59.99,1154.23,71.01,123,223
5447,2011-09-12 00:00:00,11.55,379.94,14.87,162.42,63.59,25.89,60.14,1162.27,71.84,123,223
5448,2011-09-13 00:00:00,11.63,384.62,15.26,163.43,63.61,26.04,60.54,1172.87,71.65,123,223
5449,2011-09-14 00:00:00,11.73,389.30,15.64,167.24,63.73,26.50,61.58,1188.68,72.64,123,223
5450,2011-09-15 00:00:00,11.98,392.96,16.08,170.09,64.40,26.99,63.22,1209.11,74.01,123,223
5451,2011-09-16 00:00:00,11.97,400.50,16.33,172.99,64.59,27.12,62.05,1216.01,74.55,123,223
5452,2011-09-19 00:00:00,11.58,411.63,16.18,173.13,64.14,27.21,60.56,1204.09,73.70,123,223
5453,2011-09-20 00:00:00,11.25,413.45,16.04,174.72,64.22,26.98,60.39,1202.09,74.01,123,223
5454,2011-09-21 00:00:00,10.84,412.14,15.38,173.02,63.13,25.99,60.79,1166.76,71.97,123,223
5455,2011-09-22 00:00:00,10.11,401.82,15.04,168.62,61.92,25.06,60.92,1129.56,69.24,123,223
5456,2011-09-23 00:00:00,10.07,404.30,15.21,169.34,61.59,25.06,60.34,1136.43,69.31,123,223
5457,2011-09-26 00:00:00,10.45,403.17,15.57,174.51,62.69,25.44,61.89,1162.95,71.72,123,223
5458,2011-09-27 00:00:00,10.48,399.26,15.76,177.71,63.82,25.67,62.43,1175.38,72.91,123,223
5459,2011-09-28 00:00:00,9.97,397.01,15.45,177.55,63.25,25.58,61.97,1151.06,72.07,123,223
5460,2011-09-29 00:00:00,10.06,390.57,15.86,179.17,63.90,25.45,62.58,1160.40,73.88,123,223
5461,2011-09-30 00:00:00,9.57,381.32,15.22,174.87,63.69,24.89,61.90,1131.42,72.63,123,223
5462,2011-10-03 00:00:00,8.90,374.60,14.69,173.29,62.08,24.53,60.29,1099.23,71.15,123,223
5463,2011-10-04 00:00:00,9.12,372.50,14.86,174.74,62.17,25.34,60.45,1123.95,72.83,123,223
5464,2011-10-05 00:00:00,9.37,378.25,15.27,176.85,62.35,25.89,60.29,1144.03,73.95,123,223
5465,2011-10-06 00:00:00,9.88,377.37,15.53,181.69,62.81,26.34,60.57,1164.97,73.89,123,223
5466,2011-10-07 00:00:00,9.71,369.80,15.50,182.39,63.13,26.25,61.02,1155.46,73.56,123,223
5467,2011-10-10 00:00:00,10.09,388.81,16.14,186.62,64.43,26.94,61.87,1194.89,76.28,123,223
5468,2011-10-11 00:00:00,10.30,400.29,16.14,185.00,63.96,27.00,60.95,1195.54,76.27,123,223
5469,2011-10-12 00:00:00,10.05,402.19,16.40,186.12,64.33,26.96,62.70,1207.25,77.16,123,223
5470,2011-10-13 00:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37,123,223
5471,2011-10-14 00:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11,123,223

In [52]:
df1.corr()

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM,BBC,ABC
AA,1.000000,0.101313,0.916804,0.600211,0.685752,0.776796,0.634679,0.846861,0.567025,NaN,NaN
AAPL,0.101313,1.000000,0.142381,0.749037,0.651564,0.423274,0.741942,0.410813,0.781369,NaN,NaN
GE,0.916804,0.142381,1.000000,0.681659,0.717824,0.875398,0.652904,0.935598,0.581171,NaN,NaN
IBM,0.600211,0.749037,0.681659,1.000000,0.902894,0.871615,0.885029,0.835484,0.855195,NaN,NaN
JNJ,0.685752,0.651564,0.717824,0.902894,1.000000,0.846906,0.970478,0.845401,0.925600,NaN,NaN
MSFT,0.776796,0.423274,0.875398,0.871615,0.846906,1.000000,0.781791,0.949715,0.730557,NaN,NaN
PEP,0.634679,0.741942,0.652904,0.885029,0.970478,0.781791,1.000000,0.816477,0.964278,NaN,NaN
SPX,0.846861,0.410813,0.935598,0.835484,0.845401,0.949715,0.816477,1.000000,0.761077,NaN,NaN
XOM,0.567025,0.781369,0.581171,0.855195,0.925600,0.730557,0.964278,0.761077,1.000000,NaN,NaN
BBC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
df1['PPP'] = np.arange(len(df1['AA']))

In [54]:
df1

,Unnamed: 0,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM,BBC,ABC,PPP
0,1990-02-01 00:00:00,4.98,7.86,2.87,16.79,4.27,0.51,6.04,328.79,6.12,123,223,0
1,1990-02-02 00:00:00,5.04,8.00,2.87,16.89,4.37,0.51,6.09,330.92,6.24,123,223,1
2,1990-02-05 00:00:00,5.07,8.18,2.87,17.32,4.34,0.51,6.05,331.85,6.25,123,223,2
3,1990-02-06 00:00:00,5.01,8.12,2.88,17.56,4.32,0.51,6.15,329.66,6.23,123,223,3
4,1990-02-07 00:00:00,5.04,7.77,2.91,17.93,4.38,0.51,6.17,333.75,6.33,123,223,4
5,1990-02-08 00:00:00,5.04,7.71,2.92,17.86,4.46,0.51,6.22,332.96,6.35,123,223,5
6,1990-02-09 00:00:00,5.06,8.00,2.94,17.82,4.49,0.52,6.24,333.62,6.37,123,223,6
7,1990-02-12 00:00:00,4.96,7.94,2.89,17.58,4.46,0.52,6.23,330.08,6.22,123,223,7
8,1990-02-13 00:00:00,4.91,8.06,2.88,17.95,4.43,0.52,6.09,331.02,6.23,123,223,8
9,1990-02-14 00:00:00,4.94,8.00,2.89,18.04,4.47,0.52,6.10,332.01,6.20,123,223,9
10,1990-02-15 00:00:00,4.99,8.00,2.91,18.04,4.54,0.53,6.15,334.89,6.40,123,223,10
11,1990-02-16 00:00:00,5.10,7.91,2.88,17.99,4.47,0.53,6.11,332.72,6.33,123,223,11
12,1990-02-20 00:00:00,5.04,7.85,2.83,17.88,4.39,0.55,6.01,327.99,6.25,123,223,12
13,1990-02-21 00:00:00,5.01,7.97,2.81,18.23,4.33,0.52,5.91,327.67,6.28,123,223,13
14,1990-02-22 00:00:00,5.06,7.73,2.82,17.95,4.28,0.53,5.87,325.70,6.22,123,223,14
15,1990-02-23 00:00:00,5.07,7.79,2.81,17.84,4.20,0.53,5.88,324.15,6.22,123,223,15
16,1990-02-26 00:00:00,5.13,7.97,2.84,18.08,4.30,0.54,5.93,328.67,6.37,123,223,16
17,1990-02-27 00:00:00,5.16,7.85,2.88,18.04,4.30,0.53,6.00,330.26,6.38,123,223,17
18,1990-02-28 00:00:00,5.22,7.97,2.89,18.06,4.32,0.54,6.06,331.89,6.20,123,223,18
19,1990-03-01 00:00:00,5.26,8.03,2.88,18.08,4.35,0.55,5.98,332.74,6.13,123,223,19
20,1990-03-02 00:00:00,5.41,7.91,2.92,18.23,4.43,0.57,5.89,335.54,6.17,123,223,20
21,1990-03-05 00:00:00,5.39,8.08,2.89,18.25,4.36,0.57,5.89,333.74,6.10,123,223,21
22,1990-03-06 00:00:00,5.40,8.26,2.92,18.39,4.45,0.57,5.97,337.93,6.22,123,223,22
23,1990-03-07 00:00:00,5.36,8.29,2.93,18.34,4.45,0.56,6.06,336.95,6.13,123,223,23
24,1990-03-08 00:00:00,5.34,8.61,2.95,18.60,4.50,0.58,6.18,340.27,6.17,123,223,24
25,1990-03-09 00:00:00,5.33,8.64,2.93,18.52,4.48,0.58,6.10,337.93,6.12,123,223,25
26,1990-03-12 00:00:00,5.34,8.58,2.92,18.73,4.46,0.59,6.22,338.67,6.13,123,223,26
27,1990-03-13 00:00:00,5.29,8.64,2.90,18.47,4.38,0.58,6.18,336.00,6.02,123,223,27
28,1990-03-14 00:00:00,5.28,8.67,2.95,18.47,4.44,0.59,6.15,336.87,6.13,123,223,28
29,1990-03-15 00:00:00,5.36,8.61,2.96,18.60,4.58,0.61,6.18,338.07,6.18,123,223,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5442,2011-09-02 00:00:00,12.04,374.05,15.61,166.98,64.07,25.80,63.30,1173.97,72.14,123,223,5442
5443,2011-09-06 00:00:00,11.77,379.74,15.11,165.11,64.64,25.51,62.45,1165.24,71.15,123,223,5443
5444,2011-09-07 00:00:00,12.25,383.93,15.65,167.31,65.43,26.00,61.62,1198.62,73.65,123,223,5444
5445,2011-09-08 00:00:00,12.03,384.14,15.44,165.25,64.95,26.22,61.34,1185.90,72.82,123,223,5445
5446,2011-09-09 00:00:00,11.58,377.48,14.95,161.37,63.64,25.74,59.99,1154.23,71.01,123,223,5446
5447,2011-09-12 00:00:00,11.55,379.94,14.87,162.42,63.59,25.89,60.14,1162.27,71.84,123,223,5447
5448,2011-09-13 00:00:00,11.63,384.62,15.26,163.43,63.61,26.04,60.54,1172.87,71.65,123,223,5448
5449,2011-09-14 00:00:00,11.73,389.30,15.64,167.24,63.73,26.50,61.58,1188.68,72.64,123,223,5449
5450,2011-09-15 00:00:00,11.98,392.96,16.08,170.09,64.40,26.99,63.22,1209.11,74.01,123,223,5450
5451,2011-09-16 00:00:00,11.97,400.50,16.33,172.99,64.59,27.12,62.05,1216.01,74.55,123,223,5451
5452,2011-09-19 00:00:00,11.58,411.63,16.18,173.13,64.14,27.21,60.56,1204.09,73.70,123,223,5452
5453,2011-09-20 00:00:00,11.25,413.45,16.04,174.72,64.22,26.98,60.39,1202.09,74.01,123,223,5453
5454,2011-09-21 00:00:00,10.84,412.14,15.38,173.02,63.13,25.99,60.79,1166.76,71.97,123,223,5454
5455,2011-09-22 00:00:00,10.11,401.82,15.04,168.62,61.92,25.06,60.92,1129.56,69.24,123,223,5455
5456,2011-09-23 00:00:00,10.07,404.30,15.21,169.34,61.59,25.06,60.34,1136.43,69.31,123,223,5456
5457,2011-09-26 00:00:00,10.45,403.17,15.57,174.51,62.69,25.44,61.89,1162.95,71.72,123,223,5457
5458,2011-09-27 00:00:00,10.48,399.26,15.76,177.71,63.82,25.67,62.43,1175.38,72.91,123,223,5458
5459,2011-09-28 00:00:00,9.97,397.01,15.45,177.55,63.25,25.58,61.97,1151.06,72.07,123,223,5459
5460,2011-09-29 00:00:00,10.06,390.57,15.86,179.17,63.90,25.45,62.58,1160.40,73.88,123,223,5460
5461,2011-09-30 00:00:00,9.57,381.32,15.22,174.87,63.69,24.89,61.90,1131.42,72.63,123,223,5461
5462,2011-10-03 00:00:00,8.90,374.60,14.69,173.29,62.08,24.53,60.29,1099.23,71.15,123,223,5462
5463,2011-10-04 00:00:00,9.12,372.50,14.86,174.74,62.17,25.34,60.45,1123.95,72.83,123,223,5463
5464,2011-10-05 00:00:00,9.37,378.25,15.27,176.85,62.35,25.89,60.29,1144.03,73.95,123,223,5464
5465,2011-10-06 00:00:00,9.88,377.37,15.53,181.69,62.81,26.34,60.57,1164.97,73.89,123,223,5465
5466,2011-10-07 00:00:00,9.71,369.80,15.50,182.39,63.13,26.25,61.02,1155.46,73.56,123,223,5466
5467,2011-10-10 00:00:00,10.09,388.81,16.14,186.62,64.43,26.94,61.87,1194.89,76.28,123,223,5467
5468,2011-10-11 00:00:00,10.30,400.29,16.14,185.00,63.96,27.00,60.95,1195.54,76.27,123,223,5468
5469,2011-10-12 00:00:00,10.05,402.19,16.40,186.12,64.33,26.96,62.70,1207.25,77.16,123,223,5469
5470,2011-10-13 00:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37,123,223,5470
5471,2011-10-14 00:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11,123,223,5471

In [55]:
df1.corr()

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM,BBC,ABC,PPP
AA,1.000000,0.101313,0.916804,0.600211,0.685752,0.776796,0.634679,0.846861,0.567025,NaN,NaN,0.585466
AAPL,0.101313,1.000000,0.142381,0.749037,0.651564,0.423274,0.741942,0.410813,0.781369,NaN,NaN,0.726357
GE,0.916804,0.142381,1.000000,0.681659,0.717824,0.875398,0.652904,0.935598,0.581171,NaN,NaN,0.619320
IBM,0.600211,0.749037,0.681659,1.000000,0.902894,0.871615,0.885029,0.835484,0.855195,NaN,NaN,0.890908
JNJ,0.685752,0.651564,0.717824,0.902894,1.000000,0.846906,0.970478,0.845401,0.925600,NaN,NaN,0.974050
MSFT,0.776796,0.423274,0.875398,0.871615,0.846906,1.000000,0.781791,0.949715,0.730557,NaN,NaN,0.785928
PEP,0.634679,0.741942,0.652904,0.885029,0.970478,0.781791,1.000000,0.816477,0.964278,NaN,NaN,0.974673
SPX,0.846861,0.410813,0.935598,0.835484,0.845401,0.949715,0.816477,1.000000,0.761077,NaN,NaN,0.785145
XOM,0.567025,0.781369,0.581171,0.855195,0.925600,0.730557,0.964278,0.761077,1.000000,NaN,NaN,0.944419
BBC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PPP,0.585466,0.726357,0.619320,0.890908,0.974050,0.785928,0.974673,0.785145,0.944419,NaN,NaN,1.000000