In [1]:
import numpy as np
import pandas as pd

In [8]:
data = np.array([['1','2','3'],['a','b','c'],[29.2,33.6,42.9]])

In [9]:
data

array([['1', '2', '3'],
       ['a', 'b', 'c'],
       ['29.2', '33.6', '42.9']], dtype='<U4')

In [14]:
df = pd.DataFrame(data)

In [15]:
df

      0     1     2
0     1     2     3
1     a     b     c
2  29.2  33.6  42.9

In [17]:
df2 = pd.DataFrame(data, index=['Row1','Row2','Row3'], columns=['Col1','Col2','Col3'])
df2

      Col1  Col2  Col3
Row1     1     2     3
Row2     a     b     c
Row3  29.2  33.6  42.9