In [4]:
import pandas as pd
inp = [{'c1':10, 'c2':100, 'c3':300}, {'c1':11,'c2':110,'c3':900}, {'c1':12,'c2':120,'c3':654}]
df = pd.DataFrame(inp)
df

   c1   c2   c3
0  10  100  300
1  11  110  900
2  12  120  654

In [8]:
del df['c1']

In [9]:
df

    c2   c3
0  100  300
1  110  900
2  120  654

In [19]:
import pandas as pd
inp = [{'c1':10, 'c2':100, 'c3':300}, {'c1':11,'c2':110,'c3':900}, {'c1':12,'c2':120,'c3':654}]
df = pd.DataFrame(inp)
df

   c1   c2   c3
0  10  100  300
1  11  110  900
2  12  120  654

In [20]:
df.drop(['c1','c3'], axis=1, inplace=True)

In [21]:
df

    c2
0  100
1  110
2  120