In [2]:
import pandas as pd
inp = [{'c1':10, 'c2':100}, {'c1':11,'c2':110}, {'c1':12,'c2':120}]
df = pd.DataFrame(inp)
df

   c1   c2
0  10  100
1  11  110
2  12  120

### Iterate over columns

In [13]:
df['c1']

0    10
1    11
2    12
Name: c1, dtype: int64

In [14]:
df['c2']

0    100
1    110
2    120
Name: c2, dtype: int64

### Iterate over rows

In [19]:
for index, row in df.iterrows():
    print(row['c1'],row['c2'])

10 100
11 110
12 120

### DataFrames and Series always have an index. Although it displays alongside the column(s), it is not a column, which is why del df['index'] did not work.