In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': 'foo bar foo bar foo bar foo foo'.split(),
                   'B': 'one one two three two two one three'.split(),
                   'C': np.arange(8), 'D': np.arange(8) * 2})

In [2]:
df

     A      B  C   D
0  foo    one  0   0
1  bar    one  1   2
2  foo    two  2   4
3  bar  three  3   6
4  foo    two  4   8
5  bar    two  5  10
6  foo    one  6  12
7  foo  three  7  14

### Select based on a particular column value

In [3]:
df.loc[df['B'] == 'three']

     A      B  C   D
3  bar  three  3   6
7  foo  three  7  14

### Select something that is available in a list

In [5]:
df.loc[df['A'].isin(['dic','loss','bar'])]

     A      B  C   D
1  bar    one  1   2
3  bar  three  3   6
5  bar    two  5  10