In [2]:
import numpy as np
import pandas as pd

In [7]:
balance = ['B','C','D','R','B','B','C','B','R','D','R','C','B']
val1 = np.arange(13)
dic = {'balance':balance,'val1':val1}

In [10]:
data = pd.DataFrame(dic)
data

   balance  val1
0        B     0
1        C     1
2        D     2
3        R     3
4        B     4
5        B     5
6        C     6
7        B     7
8        R     8
9        D     9
10       R    10
11       C    11
12       B    12

### Changing labels in binary

In [15]:
data['balance'] = [1 if x == 'B' else 0 for x in data['balance']]

In [16]:
data

    balance  val1
0         1     0
1         0     1
2         0     2
3         0     3
4         1     4
5         1     5
6         0     6
7         1     7
8         0     8
9         0     9
10        0    10
11        0    11
12        1    12

## Mapping Categorial Variables

In [26]:
data = {'x':['pizza','burger','pizza','biryani','pizza',np.nan]}

In [27]:
df = pd.DataFrame(data, dtype="category")

In [28]:
df

         x
0    pizza
1   burger
2    pizza
3  biryani
4    pizza
5      NaN

In [29]:
# Showing all the categories
df['x'].cat.categories

Index(['biryani', 'burger', 'pizza'], dtype='object')

In [30]:
df['x'].cat.codes

0    2
1    1
2    2
3    0
4    2
5   -1
dtype: int8

In [31]:
df['x'][0]

'pizza'

## Another way is to factorize the column

In [33]:
pd.factorize( ['B', 'C', 'D', 'B'] )[0]

array([0, 1, 2, 0], dtype=int64)